:root {
  /*font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: "DM Sans", sans-serif;*/
  font-family: 'Jost';
  line-height: 1.5;
  font-weight: 400;

  /*color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;*/
  /*background-color: #ffffff;*/
  background-color: #F6F2EB;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/*body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}*/

@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Jost';
  src: url('./assets/fonts/Jost-VariableFont_wght.ttf') format('truetype');
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
